/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


*{

    font-family: 'Poppins', sans-serif;

}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Adelantar listado de opciones de los mat-form-field*/
.cdk-overlay-container, .cdk-overlay-pane {
    z-index: 999999 !important;
}
/*Quitar estilo a los mat-form-field*/
.mat-mdc-text-field-wrapper {
    background-color: transparent !important;
  }
  
  .mat-mdc-form-field-focus-overlay {
    background: transparent !important;
  }
  
  .mdc-line-ripple {
    background-color: transparent !important;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
