/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


*{

    font-family: 'Poppins', sans-serif;

}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cdk-overlay-container, .cdk-overlay-pane {
    z-index: 999999 !important;
}