<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sidebars/">

<div class="sidebar">
  <h2 href="#" class="logo"><span>Rental</span>Cars Admin Panel</h2>

  <ul>
    <li><a  (click)="mostrarSeccion('cars')">Cars</a></li>
    <li><a  (click)="mostrarSeccion('users')">Users</a></li>
    <li><a  (click)="mostrarSeccion('orders')">Orders</a></li>
    <li><a  (click)="mostrarSeccion('reviews')">Reviews</a></li>
    <li><a  (click)="mostrarSeccion('carts')">Carts</a></li>
  </ul>
</div>

<div class="content">
  <header>   
  </header>

  <div id="cars" class="seccion" style="display:none">
    <h1 class="heading">Tabla de <span>Cars</span> </h1>

    <button class="add-button" id="createCar-btn" (click)="openCreateForm('Cars')">
      +
    </button>
    <div class="table-data text-black">
      <table class="fl-table">
          <thead>
          <tr>
            <th *ngFor="let header of tableHeaders">{{ header }}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of paginatedRows">
              <td>{{ row[0] }}</td>
              <td>{{ row[1] }}</td>
              <td>{{ row[2] }}</td>
              <td>{{ row[3] }}</td>
              <td>{{ row[4] }}</td>
              <td>{{ row[5] }}</td>
              <td><mat-icon>{{'create'}}</mat-icon><mat-icon>{{'delete'}}</mat-icon></td>
          </tr>
          <tbody>
      </table>
      <div class="pagination">
        <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
        
        <!-- Mostrar siempre el primer número de página -->
        <button *ngIf="pages[0] !== getVisiblePages()[0]" (click)="changePage(1)" [class.active]="currentPage === 1">1</button>
        
        <!-- Mostrar '...' si hay un salto de páginas antes de las páginas visibles -->
        <span *ngIf="getVisiblePages()[0] > 2">...</span>
        
        <!-- Páginas visibles -->
        <button *ngFor="let page of getVisiblePages()" (click)="changePage(page)" [class.active]="page === currentPage">
          {{ page }}
        </button>
        
        <!-- Mostrar '...' si hay un salto de páginas después de las páginas visibles -->
        <span *ngIf="getVisiblePages().slice(-1)[0] < pages.length - 1">...</span>
        
        <!-- Mostrar siempre el último número de página -->
        <button *ngIf="pages[pages.length - 1] !== getVisiblePages()[getVisiblePages().length - 1]" (click)="changePage(pages.length)" [class.active]="currentPage === pages.length">{{ pages.length }}</button>
        
        <button (click)="nextPage()" [disabled]="currentPage === pages.length">Siguiente</button>
      </div>
    </div>

    <app-admin-panel-section *ngIf="isCreateFormVisible" [entity]="'Cars'" (formSubmit)="handleFormSubmit($event)" (closeForm)="handleFormClose()"></app-admin-panel-section>


</div>


  <div id="users" class="seccion" style="display:none">
    <h1 class="heading">Tabla de <span>Users</span> </h1>
    <button class="add-button" id="createCar-btn" (click)="openCreateForm('Users')">
      +
    </button>
    <div class="table-data text-black">
      <table class="fl-table">
          <thead>
          <tr>
            <th *ngFor="let header of tableHeaders">{{ header }}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of paginatedRows">
              <td>{{ row[0] }}</td>
              <td>{{ row[1] }}</td>
              <td>{{ row[2] }}</td>
              <td>{{ row[3] }}</td>
              <td>{{ row[4] }}</td>
              <td>{{ row[5] }}</td>
              <td><mat-icon>{{'create'}}</mat-icon><mat-icon>{{'delete'}}</mat-icon></td>
          </tr>
          <tbody>
      </table>
      <div class="pagination">
        <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
        
        <!-- Mostrar siempre el primer número de página -->
        <button *ngIf="pages[0] !== getVisiblePages()[0]" (click)="changePage(1)" [class.active]="currentPage === 1">1</button>
        
        <!-- Mostrar '...' si hay un salto de páginas antes de las páginas visibles -->
        <span *ngIf="getVisiblePages()[0] > 2">...</span>
        
        <!-- Páginas visibles -->
        <button *ngFor="let page of getVisiblePages()" (click)="changePage(page)" [class.active]="page === currentPage">
          {{ page }}
        </button>
        
        <!-- Mostrar '...' si hay un salto de páginas después de las páginas visibles -->
        <span *ngIf="getVisiblePages().slice(-1)[0] < pages.length - 1">...</span>
        
        <!-- Mostrar siempre el último número de página -->
        <button *ngIf="pages[pages.length - 1] !== getVisiblePages()[getVisiblePages().length - 1]" (click)="changePage(pages.length)" [class.active]="currentPage === pages.length">{{ pages.length }}</button>
        
        <button (click)="nextPage()" [disabled]="currentPage === pages.length">Siguiente</button>
      </div>

    </div>
    <app-admin-panel-section *ngIf="isCreateFormVisible" [entity]="'Users'" (formSubmit)="handleFormSubmit($event)" (closeForm)="handleFormClose()"></app-admin-panel-section>

  </div>

  <div id="orders" class="seccion" style="display:none">
    <h1 class="heading">Tabla de <span>Orders</span> </h1>
    <button class="add-button" id="createCar-btn" (click)="openCreateForm('Orders')">
      +
    </button>
    <div class="table-data text-black">
      <table class="fl-table">
          <thead>
          <tr>
            <th *ngFor="let header of tableHeaders">{{ header }}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of paginatedRows">
              <td>{{ row[0] }}</td>
              <td>{{ row[1] }}</td>
              <td>{{ row[2] }}</td>
              <td>{{ row[3] }}</td>
              <td>{{ row[4] }}</td>
              <td><mat-icon>{{'create'}}</mat-icon><mat-icon>{{'delete'}}</mat-icon></td>
          </tr>
          <tbody>
      </table>
      <div class="pagination">
        <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
        
        <!-- Mostrar siempre el primer número de página -->
        <button *ngIf="pages[0] !== getVisiblePages()[0]" (click)="changePage(1)" [class.active]="currentPage === 1">1</button>
        
        <!-- Mostrar '...' si hay un salto de páginas antes de las páginas visibles -->
        <span *ngIf="getVisiblePages()[0] > 2">...</span>
        
        <!-- Páginas visibles -->
        <button *ngFor="let page of getVisiblePages()" (click)="changePage(page)" [class.active]="page === currentPage">
          {{ page }}
        </button>
        
        <!-- Mostrar '...' si hay un salto de páginas después de las páginas visibles -->
        <span *ngIf="getVisiblePages().slice(-1)[0] < pages.length - 1">...</span>
        
        <!-- Mostrar siempre el último número de página -->
        <button *ngIf="pages[pages.length - 1] !== getVisiblePages()[getVisiblePages().length - 1]" (click)="changePage(pages.length)" [class.active]="currentPage === pages.length">{{ pages.length }}</button>
        
        <button (click)="nextPage()" [disabled]="currentPage === pages.length">Siguiente</button>
      </div>
    </div>

    <app-admin-panel-section *ngIf="isCreateFormVisible" [entity]="'Orders'" (formSubmit)="handleFormSubmit($event)" (closeForm)="handleFormClose()"></app-admin-panel-section>

  </div>

  <div id="reviews" class="seccion" style="display:none">
    <h1 class="heading">Tabla de <span>Reviews</span> </h1>
    <button class="add-button" id="createCar-btn" (click)="openCreateForm('Reviews')">
      +
    </button>
    <div class="table-data text-black">
      <table class="fl-table">
          <thead>
          <tr>
            <th *ngFor="let header of tableHeaders">{{ header }}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of paginatedRows">
              <td>{{ row[0] }}</td>
              <td>{{ row[1] }}</td>
              <td>{{ row[2] }}</td>
              <td>{{ row[3] }}</td>
              <td>{{ row[4] }}</td>
              <td><mat-icon>{{'create'}}</mat-icon><mat-icon>{{'delete'}}</mat-icon></td>
          </tr>
          <tbody>
      </table>
      <div class="pagination">
        <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
        
        <!-- Mostrar siempre el primer número de página -->
        <button *ngIf="pages[0] !== getVisiblePages()[0]" (click)="changePage(1)" [class.active]="currentPage === 1">1</button>
        
        <!-- Mostrar '...' si hay un salto de páginas antes de las páginas visibles -->
        <span *ngIf="getVisiblePages()[0] > 2">...</span>
        
        <!-- Páginas visibles -->
        <button *ngFor="let page of getVisiblePages()" (click)="changePage(page)" [class.active]="page === currentPage">
          {{ page }}
        </button>
        
        <!-- Mostrar '...' si hay un salto de páginas después de las páginas visibles -->
        <span *ngIf="getVisiblePages().slice(-1)[0] < pages.length - 1">...</span>
        
        <!-- Mostrar siempre el último número de página -->
        <button *ngIf="pages[pages.length - 1] !== getVisiblePages()[getVisiblePages().length - 1]" (click)="changePage(pages.length)" [class.active]="currentPage === pages.length">{{ pages.length }}</button>
        
        <button (click)="nextPage()" [disabled]="currentPage === pages.length">Siguiente</button>
      </div>
    </div>
    <app-admin-panel-section *ngIf="isCreateFormVisible" [entity]="'Reviews'" (formSubmit)="handleFormSubmit($event)" (closeForm)="handleFormClose()"></app-admin-panel-section>

    
  </div>

  <div id="carts" class="seccion" style="display:none">
    <h1 class="heading">Tabla de <span>Carts</span> </h1>
    <button class="add-button" id="createCar-btn" (click)="openCreateForm('Carts')">
      +
    </button>
    <div class="table-data text-black">
      <table class="fl-table">
          <thead>
          <tr>
            <th *ngFor="let header of tableHeaders">{{ header }}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of paginatedRows">
              <td>{{ row[0] }}</td>
              <td>{{ row[1] }}</td>
              <td>{{ row[2] }}</td>
              <td><mat-icon>{{'create'}}</mat-icon><mat-icon>{{'delete'}}</mat-icon></td>
          </tr>
          <tbody>
      </table>
      <div class="pagination">
        <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
        
        <!-- Mostrar siempre el primer número de página -->
        <button *ngIf="pages[0] !== getVisiblePages()[0]" (click)="changePage(1)" [class.active]="currentPage === 1">1</button>
        
        <!-- Mostrar '...' si hay un salto de páginas antes de las páginas visibles -->
        <span *ngIf="getVisiblePages()[0] > 2">...</span>
        
        <!-- Páginas visibles -->
        <button *ngFor="let page of getVisiblePages()" (click)="changePage(page)" [class.active]="page === currentPage">
          {{ page }}
        </button>
        
        <!-- Mostrar '...' si hay un salto de páginas después de las páginas visibles -->
        <span *ngIf="getVisiblePages().slice(-1)[0] < pages.length - 1">...</span>
        
        <!-- Mostrar siempre el último número de página -->
        <button *ngIf="pages[pages.length - 1] !== getVisiblePages()[getVisiblePages().length - 1]" (click)="changePage(pages.length)" [class.active]="currentPage === pages.length">{{ pages.length }}</button>
        
        <button (click)="nextPage()" [disabled]="currentPage === pages.length">Siguiente</button>
      </div>
    </div>

    <app-admin-panel-section *ngIf="isCreateFormVisible" [entity]="'Carts'" (formSubmit)="handleFormSubmit($event)" (closeForm)="handleFormClose()"></app-admin-panel-section>

  </div>
</div>
