<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sidebars/">
    </head>
    <body>
        <header #header class="header">
            <div #menuBtn id="menu-btn" class="fas fa-bars"></div>
            
            <a href="#" class="logo"><span>Rental</span>Cars</a>

            <nav #navbar class="navbar">
                <a (click)="scrollToSection('home')">Home</a>
                <a (click)="scrollToSection('vehicles')">Vehicles</a>
                <a (click)="scrollToSection('services')">Services</a>
                <a (click)="scrollToSection('featured')">Featured</a>
                <a (click)="scrollToSection('reviews')">Reviews</a>
                <a (click)="scrollToSection('contact')">Contact</a>
            </nav>
            
            <!-- Icono de usuario no logueado -->
            <div class="user-icon">
                <!-- Mostrar cuando NO hay sesión -->
                <div *ngIf="!isUserLoggedIn">
                    <button id="login-btn" class="btn">Login</button>
                </div>
                
                <!-- Mostrar cuando SÍ hay sesión -->
                <div *ngIf="isUserLoggedIn" class="logged-in">
                    <i class="fas fa-user-check"></i>
                    <span>{{ getUsername() }}</span>
                    <button (click)="SignOut()">Cerrar Sesión</button>
                </div>
            </div>
        </header>

        <div #loginFormContainer class="login-form-container">

            <span id="close-login-form" class="fas fa-times"></span>

            <form [formGroup]="signinForm" (ngSubmit)="SignIn()" #f="ngForm">
                <h3>user login</h3>
                <input type="text" placeholder="Username" class="box"  name="username" formControlName="username"   [(ngModel)]="user.username">
                <!--<input type="email" placeholder="Email" class="box" formControlName="username"   [(ngModel)]="user.username">
            --><div *ngIf="KnownUser==false || usernameEmpty==true" class="alert-danger">
                    <div  *ngIf="KnownUser==false" class="submitErrorMessages">Unknown User</div>
                    <div *ngIf="usernameEmpty==true" class="submitErrorMessages">Username is required.</div>
                </div>
                <input type="password" placeholder="Password" class="box" formControlName="password"   [(ngModel)]="user.password">
                <div *ngIf="passwordKnown==false || passwordEmpty==true" class="alert-danger">
                    <div *ngIf="passwordKnown==false" class="submitErrorMessages">Password Not Match</div>
                    <div *ngIf="passwordEmpty==true" class="submitErrorMessages">Password is required</div>
                </div>
                <p> forget your password <a href="#">click here</a> </p>
                <input type="submit" value="login" class="btn">
                <p>or login with</p>
                <div class="buttons">
                    <a href="#" class="btn">google</a>
                    <a href="#" class="btn">facebook</a>
                </div>
                <p>don't have an account <span id="CreateOne-btn">create one</span></p>
            </form>

        </div>

        <div #signupFormContainer class="signup-form-container">

            <span id="close-signup-form" class="fas fa-times"></span>

            <form [formGroup]="signUpForm" (ngSubmit)="SignUp()" #f="ngForm">
                <h3>user signup</h3>
                <input type="text" placeholder="Username" class="box"  name="username" formControlName="username"   [(ngModel)]="user.username">
                <div *ngIf="usernameEmpty==true || usernameRepeated==true " class="alert-danger">
                    <div *ngIf="usernameEmpty==true" class="submitErrorMessages">Username is required.</div>
                    <div *ngIf="usernameRepeated==true" class="submitErrorMessages">Username is repeated. </div>
                </div>

                <input type="email" placeholder="Email" class="box" name="email" formControlName="email"  [(ngModel)]="user.email">
                <div *ngIf="emailRepeated==true || emailInvalid==true || emailEmpty == true" class="alert-danger">
                    <div *ngIf="emailEmpty == true" class="submitErrorMessages">Email is required.</div>
                    <div *ngIf="emailRepeated==true" class="submitErrorMessages">Email is repeated. </div>
                    <div *ngIf="emailInvalid==true" class="submitErrorMessages">Please provide a valid email address. </div>
                </div>

                <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"   minlength="14"
                maxlength="14" placeholder="Phone Number" class="box" name="phoneNumber" formControlName="phoneNumber"  [(ngModel)]="user.phoneNumber">
                <div *ngIf="phoneInvalid==true || phoneRepeated == true" class="alert-danger">
                    <div *ngIf="phoneInvalid==true" class="submitErrorMessages">The Phone Number must be in the format XXX-XXX-XXXX.</div>
                    <div *ngIf="phoneRepeated==true" class="submitErrorMessages">The Phone Number is repeated.</div>
                </div>


                <input type="password" placeholder="Password" class="box" data-type="password" name="password"
                formControlName="password"   [(ngModel)]="user.password">
                <div *ngIf="passwordEmpty==true" class="alert alert-danger">
                    <div class="submitErrorMessages">Password is required</div>
                </div>
                <input type="password" placeholder="Confirm Password" class="box" data-type="password" name="confirmPassword"
                formControlName="confirmPassword" >
                <div *ngIf="passwordsNotMatch==true ||  confirmPasswordEmpty==true" class="alert alert-danger">
                    <div *ngIf="confirmPasswordEmpty==true" class="submitErrorMessages">Confirm Password is required.</div>
                    <div *ngIf="passwordsNotMatch==true && confirmPasswordEmpty==false && passwordEmpty==false" class="submitErrorMessages">Passsword and
                    Confirm Password didn't match. </div>
                </div>

                <p> forget your password <a href="#">click here</a> </p>
                <input type="submit" value="Sign Up" class="btn">
                <p>or signup with</p>
                <div class="buttons">
                    <a href="#" class="btn">google</a>
                    <a href="#" class="btn">facebook</a>
                </div>
                <p><span id="AlreadyMember-btn">Already Member?</span></p>
            </form>

        </div>

        <section #home class="home" id="home" (mousemove)="onHomeMouseMove($event)" (mouseleave)="onHomeMouseLeave()">

            <h3 data-speed="-2" class="home-parallax">find your car</h3>
        
            <img data-speed="5" class="home-parallax" src="../assets/img/homeCars.png" alt="">
        
            <a data-speed="7" href="#" class="btn home-parallax">explore cars</a>
        
        </section>

        <section class="icons-container">
            
            <div class="icons">
                <i class="fas fa-home"></i>
                <div class="content">
                    <h3>150+</h3>
                    <p>branches</p>
                </div>
            </div>

            <div class="icons">
                <i class="fas fa-car"></i>
                <div class="content">
                    <h3>4770+</h3>
                    <p>cars sold</p>
                </div>
            </div>

            <div class="icons">
                <i class="fas fa-users"></i>
                <div class="content">
                    <h3>320+</h3>
                    <p>happy clients</p>
                </div>
            </div>
            
            <div class="icons">
                <i class="fas fa-car"></i>
                <div class="content">
                    <h3>1500+</h3>
                    <p>news cars</p>
                </div>
            </div>

        </section>
        
        <section class="vehicles" id="vehicles">
            <h1 class="heading">popular <span>vehicles</span></h1>
            <div class="swiper vehicles-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide box" *ngFor="let car of cars">
                        <div class="car-image" [ngClass]="{'car-image-small': needsSmallerImage(car)}">
                            <img [src]="formatImageUrl(car.imagenUrl)" alt="Car image" 
                                 (error)="handleImageError($event)">
                            <div class="no-image" [ngClass]="{'no-image-small': needsSmallerImage(car)}" style="display: none;">
                                <i class="fas fa-car"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3>{{car.marca}} {{car.modelo}}</h3>
                            <div class="price"><span>price : </span>{{car.precio | currency}}</div>
                            <p>
                                <span class="fas fa-circle"></span> {{car.categoria}}
                                <span class="fas fa-circle"></span> Stock: {{car.disponible ? 'Disponible' : 'No disponible'}}
                            </p>
                            <p *ngIf="car.descripcion" class="description">
                                {{car.descripcion}}
                            </p>
                            <a [routerLink]="['/car', car.id]" class="btn">check out</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section>
        
        <section class="services" id="services">

            <h1 class="heading"> our <span>services</span> </h1>
        
            <div class="box-container">
        
                <div class="box">
                    <i class="fas fa-car"></i>
                    <h3>car selling</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, nisi.</p>
                    <a href="#" class="btn"> read more</a>
                </div>
        
                <div class="box">
                    <i class="fas fa-tools"></i>
                    <h3>parts repair</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, nisi.</p>
                    <a href="#" class="btn"> read more</a>
                </div>
        
                <div class="box">
                    <i class="fas fa-car-crash"></i>
                    <h3>car insurance</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, nisi.</p>
                    <a href="#" class="btn"> read more</a>
                </div>
        
                <div class="box">
                    <i class="fas fa-car-battery"></i>
                    <h3>battery replacement</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, nisi.</p>
                    <a href="#" class="btn"> read more</a>
                </div>
        
                <div class="box">
                    <i class="fas fa-gas-pump"></i>
                    <h3>oil change</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, nisi.</p>
                    <a href="#" class="btn"> read more</a>
                </div>
        
                <div class="box">
                    <i class="fas fa-headset"></i>
                    <h3>24/7 support</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, nisi.</p>
                    <a href="#" class="btn"> read more</a>
                </div>
        
            </div>
        
        </section>
    
        <section class="featured" id="featured">
            <h1 class="heading"><span>featured</span> cars</h1>
            <div class="swiper featured-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide box" *ngFor="let car of cars">
                        <div class="car-image" [ngClass]="{'car-image-small': needsSmallerImage(car)}">
                            <img [src]="formatImageUrl(car.imagenUrl)" alt="Car image" 
                                 (error)="handleImageError($event)">
                            <div class="no-image" [ngClass]="{'no-image-small': needsSmallerImage(car)}" style="display: none;">
                                <i class="fas fa-car"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3>{{car.marca}} {{car.modelo}}</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                            <div class="price">{{car.precio | currency}}</div>
                            <a [routerLink]="['/car', car.id]" class="btn">check out</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section>
        <section class="newsletter">
        
            <h3>subscribe for latest updates</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, suscipit.</p>
        
        <form action="">
                <input type="email" placeholder="enter your email">
                <input type="submit" value="subscribe">
        </form>
        
        </section>

        <section class="reviews" id="reviews">

            <h1 class="heading"> client's <span>review</span> </h1>
        
            <div class="swiper review-slider">
        
                <div class="swiper-wrapper">
        
                    <div class="swiper-slide box">
                        <img src="../assets/img/pic-1.png" alt="">
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam incidunt quod praesentium iusto id autem possimus assumenda at ut saepe.</p>
                            <h3>john deo</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
        
                    <div class="swiper-slide box">
                        <img src="../assets/img/pic-2.png" alt="">
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam incidunt quod praesentium iusto id autem possimus assumenda at ut saepe.</p>
                            <h3>john deo</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
        
                    <div class="swiper-slide box">
                        <img src="../assets/img/pic-3.png" alt="">
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam incidunt quod praesentium iusto id autem possimus assumenda at ut saepe.</p>
                            <h3>john deo</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
        
                    <div class="swiper-slide box">
                        <img src="../assets/img/pic-4.png" alt="">
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam incidunt quod praesentium iusto id autem possimus assumenda at ut saepe.</p>
                            <h3>john deo</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
        
                    <div class="swiper-slide box">
                        <img src="../assets/img/pic-5.png" alt="">
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam incidunt quod praesentium iusto id autem possimus assumenda at ut saepe.</p>
                            <h3>john deo</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
        
                    <div class="swiper-slide box">
                        <img src="../assets/img/pic-6.png" alt="">
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam incidunt quod praesentium iusto id autem possimus assumenda at ut saepe.</p>
                            <h3>john deo</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
        
                </div>
        
                <div class="swiper-pagination"></div>
        
            </div>
        
        </section>
        
        <section class="contact" id="contact">

            <h1 class="heading"><span>contact</span> us</h1>

            <div class="row">

                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d95780.6556038588!2d2.0701494725917526!3d41.39264671496666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a49816718e30e5%3A0x44b0fb3d4f47660a!2sBarcelona!5e0!3m2!1ses!2ses!4v1667329201171!5m2!1ses!2ses" allowfullscreen="" loading="lazy"></iframe>

                <form action="">
                    <h3>get in touch</h3>
                    <input type="text" placeholder="your name" class="box">
                    <input type="email" placeholder="your email" class="box">
                    <input type="tel" placeholder="subject" class="box">
                    <textarea placeholder="your message" class="box" cols="30" rows="10"></textarea>
                    <input type="submit" value="send message" class="btn">
                </form>

            </div>

        </section>
        
        <section class="footer" id="footer">

            <div class="box-container">
        
                <div class="box">
                    <h3>our branches</h3>
                    <a href="#"> <i class="fas fa-map-marker-alt"></i> spain </a>
                    <a href="#"> <i class="fas fa-map-marker-alt"></i> germany </a>
                    <a href="#"> <i class="fas fa-map-marker-alt"></i> france </a>
                    <a href="#"> <i class="fas fa-map-marker-alt"></i> Italy </a>
                    <a href="#"> <i class="fas fa-map-marker-alt"></i> USA </a>
                </div>
        
                <div class="box">
                    <h3>quick links</h3>
                    <a href="#"> <i class="fas fa-arrow-right"></i> home </a>
                    <a href="#"> <i class="fas fa-arrow-right"></i> vehicles </a>
                    <a href="#"> <i class="fas fa-arrow-right"></i> services </a>
                    <a href="#"> <i class="fas fa-arrow-right"></i> featured </a>
                    <a href="#"> <i class="fas fa-arrow-right"></i> reviews </a>
                    <a href="#"> <i class="fas fa-arrow-right"></i> contact </a>
                </div>
        
                <div class="box">
                    <h3>contact info</h3>
                    <a href="#"> <i class="fas fa-phone"></i> +123-456-7890 </a>
                    <a href="#"> <i class="fas fa-phone"></i> +111-222-3333 </a>
                    <a href="mailto:tonilr&#64;gmail.com"> <i class="fas fa-envelope"></i> tonilrArrobagmail.com </a>
                    <a href="#"> <i class="fas fa-map-marker-alt"></i> barcelona, spain - 08001 </a>
                </div>
        
                <div class="box">
                    <h3>contact info</h3>
                    <a href="#">Interview/Media Requests: <i class="fab fa-facebook-f"></i> CalNewportArrobapenguinrandomhouse.com</a>
                    <a href="#">Speaking Agent: <i class="fab fa-twitter"></i> wesnArrobaleighbureau.com</a>
                    <a href="#">Literary Agent and Rights Inquiries: <i class="fab fa-instagram"></i> laurieArrobadefliterary.com</a>
                    <a href="#">Interesting Links: <i class="fab fa-linkedin"></i> interestingArrobacalnewport.com</a>
                    <a href="#"> <i class="fab fa-pinterest"></i> pinterest </a>
                </div>
        
            </div>
        
            <div class="credit"> created by tonilr | all rights reserved </div>
        
        </section>
        
        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
        <script src="js/script.js"></script>

        <!-- Añade esta sección después del header -->
        <section class="popular-vehicles">
          <h2>Popular Vehicles</h2>
          <div *ngIf="loading">Cargando coches...</div>
          <div *ngIf="error">{{ error }}</div>
          <div class="cars-list" *ngIf="!loading && !error">
            <div class="car-card" *ngFor="let car of cars">
              <div class="car-image" [ngClass]="{'car-image-small': needsSmallerImage(car)}">
                <img [src]="formatImageUrl(car.imagenUrl)" alt="Car image" 
                     (error)="handleImageError($event)">
                <div class="no-image" [ngClass]="{'no-image-small': needsSmallerImage(car)}" style="display: none;">
                    <i class="fas fa-car"></i>
                </div>
              </div>
              <div class="car-info">
                <h3>{{ car.marca }} {{ car.modelo }}</h3>
                <p class="car-price">Precio: <span>{{ car.precio | currency:'EUR' }}</span></p>
                <p *ngIf="car.categoria">Categoría: {{ car.categoria }}</p>
                <p *ngIf="car.descripcion">{{ car.descripcion }}</p>
                <p *ngIf="car.disponible !== undefined">Stock: {{ car.disponible ? 'Disponible' : 'No disponible' }}</p>
                <button class="btn-details" (click)="viewCarDetails(car.id)">Check Out</button>
              </div>
            </div>
          </div>
        </section>
    </body>

</html>