<div #createCarFormContainer class="create-form-container">
  <span (click)="onClose()" id="close-create-form" class="fas fa-times"></span>

  <form [formGroup]="createForm" (ngSubmit)="onSubmit()" #f="ngForm">
    <h3>Create {{ entity }} Form</h3>

    <div *ngFor="let field of formFields">
      <!-- Campo de entrada dinámico -->
      <input *ngIf="field.type === 'text' || field.type === 'email' || field.type === 'tel'"
            [type]="field.type" [placeholder]="field.placeholder" class="box"
            [name]="field.name" [formControlName]="field.name">
      
      <!-- Campo de selección dinámica -->
      <select *ngIf="field.type === 'select'" class="box custom-select" [formControlName]="field.name">
        <option value="" disabled selected>{{ field.placeholder }}</option>
        <option *ngFor="let option of field.options" [ngValue]="option">{{ option.name || option.username || option.comment || option.description || option.id || option}}</option>
      </select>

      <!-- Campo dinámico para selección múltiple -->
      <mat-form-field *ngIf="field.type === 'select-multiple'" appearance="fill" class="full-width">
        <mat-label>{{ field.placeholder }}</mat-label>
        <mat-select [formControlName]="field.name" multiple>
          <mat-option *ngFor="let option of field.options" [value]="option">
            {{ option.name || option.username || option.comment || option.description || option.id || option }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!--<mat-form-field>
        <mat-label>Toppings</mat-label>
        <mat-select [formControl]="toppings" multiple>
          @for (topping of toppingList; track topping) {
            <mat-option [value]="topping">{{topping}}</mat-option>
          }
        </mat-select>
      </mat-form-field>-->
      
      <!--<select *ngIf="field.type === 'select-multiple'" class="box" [formControlName]="field.name" multiple data-multi-select>
        <option *ngFor="let option of field.options" [ngValue]="option">{{ option.name || option.username || option.comment || option.description || option.id || option }}</option>
      </select>-->
      
      <!-- Mensajes de error dinámicos -->
      <div *ngIf="isFieldInvalid(field.name)" class="alert-danger">
        <div *ngFor="let error of field.errors" class="submitErrorMessages">{{ error }}</div>
      </div>
    </div>

    <input type="submit" value="Submit" class="btn" [disabled]="createForm.invalid">
    <input type="button" value="Cancel" class="btn" (click)="onClose()">
  </form>
</div>